/* Status Display */
.Status
{
	cursor: pointer;
	vertical-align: top;
	display: inline-block;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
	border-radius: 20px;
	background-color: #0569A6;
	border: 20px double #2b2b2b;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	box-shadow: 0px 0px 3px black;
}

.Status:hover
{
	background-color: #25B8D5;
}

.navbar-toggler
{
	display: inline-grid;
}

.Status.Listening,.Status.Processing,.Status.Talking
{
	border: 5px double #2b2b2b;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.Status.Listening {
  -webkit-animation: Listening 1s linear infinite; /* Safari 4+ */
  -moz-animation:    Listening 1s linear infinite; /* Fx 5+ */
  -o-animation:      Listening 1s linear infinite; /* Opera 12+ */
  animation:         Listening 1s linear infinite; /* IE 10+, Fx 29+ */
}

.Status.Processing {
  -webkit-animation: Processing 1s linear infinite; /* Safari 4+ */
  -moz-animation:    Processing 1s linear infinite; /* Fx 5+ */
  -o-animation:      Processing 1s linear infinite; /* Opera 12+ */
  animation:         Processing 1s linear infinite; /* IE 10+, Fx 29+ */
}

.Status.Talking {
  -webkit-animation: Talking 0.5s linear infinite; /* Safari 4+ */
  -moz-animation:    Talking 0.5s linear infinite; /* Fx 5+ */
  -o-animation:      Talking 0.5s linear infinite; /* Opera 12+ */
  animation:         Talking 0.5s linear infinite; /* IE 10+, Fx 29+ */
}

@-webkit-keyframes Listening {
  0%   { background-color: #F29717; }
  50%   { background-color: #000000; }
  100%   { background-color: #F29717; }
}
@-moz-keyframes Listening {
  0%   { background-color: #F29717; }
  50%   { background-color: #000000; }
  100%   { background-color: #F29717; }
}
@-o-keyframes Listening {
  0%   { background-color: #F29717; }
  50%   { background-color: #000000; }
  100%   { background-color: #F29717; }
}
@keyframes Listening {
  0%   { background-color: #F29717; }
  50%   { background-color: #000000; }
  100%   { background-color: #F29717; }
}

@-webkit-keyframes Processing {
  0%   { background-color: #00eaff; }
  100%   { background-color: #001fff; }
}
@-moz-keyframes Processing {
  0%   { background-color: #00eaff; }
  100%   { background-color: #001fff; }
}
@-o-keyframes Processing {
  0%   { background-color: #00eaff; }
  100%   { background-color: #001fff; }
}
@keyframes Processing {
  0%   { background-color: #00eaff; }
  100%   { background-color: #001fff; }
}

@-webkit-keyframes Talking {
  0%   { background-color: #00ff12; }
  50%   { background-color: #eeff00; }
  100%   { background-color: #00ff12; }
}
@-moz-keyframes Talking {
  0%   { background-color: #00ff12; }
  50%   { background-color: #eeff00; }
  100%   { background-color: #00ff12; }
}
@-o-keyframes Talking {
  0%   { background-color: #00ff12; }
  50%   { background-color: #eeff00; }
  100%   { background-color: #00ff12; }
}
@keyframes Talking {
  0%   { background-color: #00ff12; }
  50%   { background-color: #eeff00; }
  100%   { background-color: #00ff12; }
}